altgraph==0.17.3
bottle==0.12.25
caribou==0.3.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
clr-loader==0.2.5
colorama==0.4.6
defusedxml==0.7.1
distlib==0.3.6
django-qrcode==0.3
docutils==0.20.1
filelock==3.12.2
fonttools==4.40.0
fpdf2==2.7.4
idna==3.4
macholib==1.16.2
modulegraph==0.19.5
pefile==2023.2.7
Pillow==9.5.0
platformdirs==3.5.3
proxy-tools==0.1.0
py2app==0.28.6
pycparser==2.21
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.4
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-Security==9.2
pyobjc-framework-WebKit==9.2
pypng==0.20220715.0
pythonnet==3.0.1
pywebview==4.2.2
qrcode==7.4.2
requests==2.31.0
typing_extensions==4.6.3
urllib3==2.0.4
virtualenv==20.23.0
setuptools~=65.5.1